html
  head
    meta(charset='utf-8')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
    title BOCO
  body(style="text-align: center; padding-top: 20%; background: #afd4f1;")
    h1(style="font-size: 2.5em; color: #ffffff; font-family: Helvetica, Arial, sans-serif; text-shadow: 0 0 5px rgba(0,0,0,0.3);")  404 error
