form.products-filters-block(id="productsFiltersBlock")
  div.products-filters-block__toggle(id="productsFiltersToggle")
  
  .form-group.bc-filter-coop
    .bc-btn.full.icon(id="coopBtn")
      svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M19.237 11.1021C19.6447 10.5633 19.8704 9.9032 19.8704 9.2164C19.8704 8.12672 19.2613 7.09529 18.2808 6.52012C18.0284 6.37207 17.741 6.29415 17.4484 6.29442H11.6287L11.7743 3.31177C11.8083 2.59098 11.5535 1.9066 11.0584 1.38482C10.8154 1.12764 10.5223 0.923013 10.1971 0.783593C9.87197 0.644174 9.52166 0.57292 9.16786 0.574237C7.90588 0.574237 6.78951 1.42365 6.4546 2.63952L4.3699 10.1872H1.23193C0.802368 10.1872 0.455322 10.5342 0.455322 10.9638V19.7976C0.455322 20.2272 0.802368 20.5742 1.23193 20.5742H15.8248C16.0481 20.5742 16.2665 20.5306 16.4679 20.4432C17.6231 19.9505 18.3682 18.822 18.3682 17.5698C18.3682 17.264 18.3245 16.963 18.2372 16.6718C18.6449 16.133 18.8706 15.4729 18.8706 14.7861C18.8706 14.4803 18.8269 14.1794 18.7395 13.8882C19.1472 13.3494 19.3729 12.6893 19.3729 12.0025C19.3681 11.6967 19.3244 11.3933 19.237 11.1021ZM2.20268 18.8269V11.9345H4.16847V18.8269H2.20268ZM17.6474 10.26L17.1159 10.7211L17.4533 11.3375C17.5644 11.5406 17.622 11.7686 17.6207 12C17.6207 12.4005 17.446 12.7815 17.1451 13.0436L16.6136 13.5047L16.9509 14.1211C17.062 14.3242 17.1197 14.5522 17.1184 14.7837C17.1184 15.1841 16.9436 15.5651 16.6427 15.8272L16.1112 16.2884L16.4485 16.9048C16.5597 17.1078 16.6173 17.3358 16.616 17.5673C16.616 18.1109 16.2956 18.6012 15.8006 18.8245H5.72168V11.8569L8.13643 3.10791C8.1987 2.88367 8.33236 2.68583 8.51717 2.54438C8.70198 2.40293 8.92786 2.32557 9.16058 2.32402C9.34502 2.32402 9.52704 2.37742 9.67265 2.48663C9.91292 2.66622 10.0415 2.93803 10.027 3.22683L9.794 8.04178H17.4241C17.8561 8.30631 18.1231 8.75286 18.1231 9.2164C18.1231 9.61683 17.9484 9.99543 17.6474 10.26Z" fill="white")
      | Только кооперации
    .bc-btn-desc
      | Нажмите  на кнопку для отображения всех активных заявок  на кооперацию 
  
  if categories
    .form-group
      label(for="categorySelect") Категория
      select.form-control.form-control-sm(id="categorySelect")
        option(value="") Все
        each category in categories
          option(value=category._id)=category.name

  if brands
    .form-group
      label(for="brandSelect") Производитель
      select.form-control.form-control-sm(id="brandSelect")
        option(value="") Все
        each brand in brands
          option(value=brand.name)=brand.name

  .form-group
    label Параметры

    .bc-input-group.mb-3
      .bc-input-group__label Высота (мм)
      .bc-input-group__fields
        input.form-control(id="heightFrom" type="text" placeholder="от")
        input.form-control(id="heightTo" type="text" placeholder="до")

    .bc-input-group.mb-3
      .bc-input-group__label Ширина (мм)
      .bc-input-group__fields
        input.form-control(id="widthFrom" type="text" placeholder="от")
        input.form-control(id="widthTo" type="text" placeholder="до")

    .bc-input-group.mb-3
      .bc-input-group__label Толщина (мм)
      .bc-input-group__fields
        input.form-control(id="thicknessFrom" type="text" placeholder="от")
        input.form-control(id="thicknessTo" type="text" placeholder="до")

    .bc-input-group.mb-3
      .bc-input-group__label Вес (кг)
      .bc-input-group__fields
        input.form-control(id="weightFrom" type="text" placeholder="от")
        input.form-control(id="weightTo" type="text" placeholder="до")

    .bc-input-group.mb-3
      .bc-input-group__label Объем (л)
      .bc-input-group__fields
        input.form-control(id="volumeLFrom" type="text" placeholder="от")
        input.form-control(id="volumeLTo" type="text" placeholder="до")

    .bc-input-group.mb-3
      .bc-input-group__label Объем (м.куб)
      .bc-input-group__fields
        input.form-control(id="volumeMFrom" type="text" placeholder="от")
        input.form-control(id="volumeMTo" type="text" placeholder="до")

    .bc-input-group.mb-3
      .bc-input-group__label Площадь (м.кв)
      .bc-input-group__fields
        input.form-control(id="areaFrom" type="text" placeholder="от")
        input.form-control(id="areaTo" type="text" placeholder="до")

  .filter-results(id="countFilters") Показать <span id="filterResult">0</span> товаров
  .filters-clear(id="clearFilters") Очистить фильтры