.bc-footer
  .container
    .bc-footer__top
      .row
        .col-xs-12.col-md-6.d-none.d-sm-block
          .row
            .col-3
              svg(width="65" height="19" viewBox="0 0 65 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.889893 0.710938H10.0407C11.126 0.710938 12.0364 0.926385 12.7702 1.35566C13.504 1.78493 14.0515 2.34541 14.4095 3.03224C14.7675 3.71907 14.9473 4.44802 14.9473 5.21747C14.9473 5.81359 14.842 6.38703 14.6298 6.93779C14.4176 7.48855 14.1114 7.95346 13.7097 8.3309C13.308 8.70833 12.8382 8.94808 12.302 9.04851C12.9986 9.2267 13.6012 9.5442 14.1066 10.001C14.612 10.4578 14.9943 10.994 15.2551 11.6096C15.5159 12.2235 15.6455 12.852 15.6455 13.4935C15.6455 14.271 15.4576 15.0048 15.0817 15.6917C14.7059 16.3785 14.1309 16.9358 13.3566 17.3618C12.5823 17.7878 11.646 18 10.5444 18H0.889893V0.710938ZM6.33272 4.73961V7.08845C7.02604 7.08845 7.76407 7.08845 8.42562 7.08845C8.68804 7.08845 8.90997 6.97505 9.09301 6.74989C9.27444 6.52473 9.36678 6.26554 9.36678 5.97558C9.36678 5.65646 9.255 5.37136 9.03146 5.11866C8.80791 4.86596 8.48718 4.73961 8.06762 4.73961H6.33272ZM6.33272 13.8008C7.14054 13.8008 7.98621 13.8013 8.7658 13.8013C9.14161 13.8013 9.43967 13.6814 9.65836 13.44C9.87704 13.1987 9.98719 12.9184 9.98719 12.6009C9.98719 12.2008 9.84788 11.8444 9.56926 11.5318C9.29064 11.2208 8.90835 11.0637 8.424 11.0637H6.33272V13.8008Z" fill="#30394A")
                path(d="M47.8109 5.16745C46.8665 4.81917 45.9691 4.64422 45.1171 4.64422C44.3103 4.64422 43.5684 4.79325 42.8897 5.08645C42.211 5.38451 41.6667 5.81378 41.252 6.3775C40.8422 6.95095 40.6267 7.62158 40.5943 8.39589C40.5943 8.48012 40.5862 8.60161 40.57 8.75874C40.5538 8.91749 40.5457 9.01954 40.5457 9.06652C40.5457 10.5212 40.9021 11.5838 41.6132 12.2545C42.3276 12.9219 43.2866 13.2572 44.4934 13.2572C45.4216 13.2572 46.5264 13.0547 47.8077 12.6546V17.4413C46.8552 17.7475 45.765 17.8998 44.5404 17.8998C43.3805 17.8998 42.2256 17.7362 41.0738 17.4057C39.9302 17.0882 38.887 16.586 37.9361 15.8911C36.9884 15.1913 36.2222 14.2647 35.6375 13.1179C35.0559 11.9613 34.7676 10.5908 34.7676 9.00658C34.8162 6.81163 35.2973 5.04433 36.2206 3.70144C37.1391 2.36341 38.2989 1.41254 39.7034 0.848821C41.103 0.285099 42.6046 0 44.2002 0C45.2709 0 46.4729 0.134447 47.8077 0.406589V5.16745H47.8109Z" fill="#30394A")
                path(fill-rule="evenodd" clip-rule="evenodd" d="M25.4603 5.35645H25.25V5.35761H25.0257C23.9683 5.35761 23.0258 5.5354 22.1973 5.89099C21.3676 6.24775 20.6727 6.73116 20.1125 7.34124C19.5513 7.95133 19.1283 8.63694 18.8413 9.39577C18.6221 9.9761 18.427 10.8345 18.4287 11.7792C18.4304 12.722 18.5682 13.3909 18.8482 14.1567C19.1283 14.9225 19.542 15.6105 20.0916 16.2194C20.6413 16.8283 21.3176 17.3094 22.1229 17.6638C22.9282 18.0171 23.8323 18.1949 24.8352 18.1949H25.3372C26.3702 18.1949 27.2987 18.0217 28.1226 17.6778C28.9465 17.3338 29.6449 16.8608 30.2178 16.2577C30.7919 15.6558 31.2253 14.9771 31.5205 14.223C31.8156 13.4688 31.9702 12.6867 31.9841 11.8768V11.6955C31.9841 10.8925 31.8459 10.1104 31.5693 9.35161C31.2927 8.59162 30.8802 7.91181 30.3329 7.31103C29.7844 6.71025 29.0976 6.2338 28.2714 5.88286C27.4451 5.53192 26.5085 5.35645 25.4603 5.35645ZM25.2065 14.8208C26.558 14.8208 27.6535 13.4575 27.6535 11.7757C27.6535 10.0938 26.558 8.73047 25.2065 8.73047C23.8551 8.73047 22.7595 10.0938 22.7595 11.7757C22.7595 13.4575 23.8551 14.8208 25.2065 14.8208Z" fill="#30394A")
                path(fill-rule="evenodd" clip-rule="evenodd" d="M57.6259 5.35645H57.4155V5.35761H57.1913C56.1338 5.35761 55.1914 5.5354 54.3628 5.89099C53.5331 6.24775 52.8382 6.73116 52.2781 7.34124C51.7168 7.95133 51.2938 8.63694 51.0068 9.39577C50.7876 9.9761 50.5926 10.8345 50.5942 11.7792C50.5959 12.722 50.7337 13.3909 51.0138 14.1567C51.2938 14.9225 51.7075 15.6105 52.2572 16.2194C52.8068 16.8283 53.4831 17.3094 54.2884 17.6638C55.0937 18.0171 55.9978 18.1949 57.0007 18.1949H57.5027C58.5358 18.1949 59.4643 18.0217 60.2882 17.6778C61.1121 17.3338 61.8104 16.8608 62.3833 16.2577C62.9574 15.6558 63.3908 14.9771 63.686 14.223C63.9812 13.4688 64.1357 12.6867 64.1497 11.8768V11.6955C64.1497 10.8925 64.0114 10.1104 63.7348 9.35161C63.4582 8.59162 63.0457 7.91181 62.4984 7.31103C61.9499 6.71025 61.2631 6.2338 60.4369 5.88286C59.6107 5.53192 58.6741 5.35645 57.6259 5.35645ZM57.372 14.8208C58.7235 14.8208 59.819 13.4575 59.819 11.7757C59.819 10.0938 58.7235 8.73047 57.372 8.73047C56.0206 8.73047 54.9251 10.0938 54.9251 11.7757C54.9251 13.4575 56.0206 14.8208 57.372 14.8208Z" fill="#30394A")
            .col-9
              .mb-5
                | BoberCo - крупнейшая база данных товаров магазинов и гипермаркетов Санкт-Петербурга, насчитывающая 
                | несколько тысяч наименований

        .col-xs-12.col-md-6
          .row
            .col-2.d-none.d-sm-block
            .col-5
              .bc-footer__title Клиентам
              .bc-footer__link.scroll-to(data-target="st-category") Категории товаров
              .bc-footer__link.scroll-to(data-target="st-coop") Кооперация
              .bc-footer__link.scroll-to(data-target="st-rent") Аренда ячейки
            .col-5
              .bc-footer__title Компания
              a(href="/").bc-footer__link Контакты
              a(href="/").bc-footer__link О нас
    .bc-underfooter.text-right
      span &copy; 2019-<span id="currentYear"></span> BOCO Все права защищены