nav.site-header.navbar.shadow-sm
  div.container.d-flex.justify-content-between
    a.site-header__link.navbar-brand.d-flex.align-items-center(href="/")
      img.site-header__logo(src="/images/logo_long.png")
    div
      span.site-header__city.mr-5.p-2.d-none.d-sm-inline-block
        include point.pug
        span.ml-2 Санкт-Петербург
      a.site-header__link(class="p-2" href="/admin") Авторизоваться