.bc-nav-block(id="siteHeader")
  .container
    .bc-nav
      .bc-logo
        a(href="/")
          include logo.pug
      .bc-nav__end
        .bc-city
          svg.bc-city__marker(width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M11.6891 6.44339C11.6891 5.70146 11.543 4.9668 11.2591 4.28135C10.9752 3.5959 10.559 2.97308 10.0344 2.44846C9.50977 1.92383 8.88695 1.50768 8.2015 1.22376C7.51605 0.939835 6.78139 0.793701 6.03946 0.793701C5.29753 0.793701 4.56287 0.939835 3.87742 1.22376C3.19196 1.50768 2.56915 1.92383 2.04453 2.44846C1.5199 2.97308 1.10375 3.5959 0.819827 4.28135C0.535904 4.9668 0.38977 5.70146 0.389771 6.44339C0.389771 7.56284 0.720681 8.60399 1.28161 9.48212H1.27516C3.17991 12.4643 6.03946 16.9357 6.03946 16.9357L10.8038 9.48212H10.7981C11.3796 8.57523 11.6888 7.52066 11.6891 6.44339ZM6.03946 8.86469C5.39729 8.86469 4.78143 8.60959 4.32734 8.1555C3.87326 7.70142 3.61816 7.08556 3.61816 6.44339C3.61816 5.80122 3.87326 5.18536 4.32734 4.73128C4.78143 4.27719 5.39729 4.02209 6.03946 4.02209C6.68163 4.02209 7.29749 4.27719 7.75157 4.73128C8.20565 5.18536 8.46075 5.80122 8.46075 6.44339C8.46075 7.08556 8.20565 7.70142 7.75157 8.1555C7.29749 8.60959 6.68163 8.86469 6.03946 8.86469Z" fill="#71809C")
          span Санкт-Петербург
        a(href="/admin").bc-auth
          svg(width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M17.8735 13.0001L9.66674 6.16113V10.2645H0.0921631V15.7357H9.66674V19.8391L17.8735 13.0001ZM21.9769 22.5747H11.0345V25.3103H21.9769C23.4815 25.3103 24.7125 24.0793 24.7125 22.5747V3.42554C24.7125 1.92096 23.4815 0.689941 21.9769 0.689941H11.0345V3.42554H21.9769V22.5747Z" fill="#71809C")