.bc-main-slider
  .bc-main-slider__arrow.left.siema-prev
    svg(width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M6.49658 1L1.49658 6.5L6.49658 11.5" stroke="#1092D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
  .bc-main-slider__arrow.right.siema-next
    svg(width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M1.49658 1.34448L6.49658 6.84448L1.49658 11.8445" stroke="#1092D3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
  .siema
    .bc-slide
      .bc-slide__circle
      img.bc-slide__img(src="/images/bobr1.png")
      .bc-slide__title
        | Агрегатор строительных<br/>
        | материалов BoCo
      .bc-slide__info
        | BoberCo - крупнейшая база данных товаров магазинов
        | и гипермаркетов Санкт-Петербурга, насчитывающая
        | десятки тысяч наименований
      a(href="/products/").bc-btn.bc-slide-link Перейти в каталог
    .bc-slide
      .bc-slide__circle
      img.bc-slide__img.middle(src="/images/bobr2.png")
      .bc-slide__title
        | Друзья BoCo
      .bc-slide__info
        | Скооперируйтесь и приобретайте товары по
        | оптовым ценам даже если требуется меньшее
        | количество, чем минимально неободимое
        | для совершения оптовой закупки
      .bc-btn.scroll-to(data-target="st-coop") Подробнее
    .bc-slide
      .bc-slide__circle
      img.bc-slide__img.large(src="/images/bobr3.png")
      .bc-slide__title
        | Аренда ячейки
      .bc-slide__info
        | Арендуйте ячейку и в этом случае в карточках
        | товаров вместе с остальными ценами будет
        | выводиться цена Вашего магазина со ссылкой
        | на страницу товара на Вашем сайте
      .bc-btn.scroll-to(data-target="st-rent") Подробнее
