.bc-categories {
  margin-bottom: 40px;
  .more {
    display: none;
  }
  &.all-visible {
    .more {
      display: block;
    }
  }
}

.bc-category-card {
  display: block;
  background: $lightGrey;
  border-radius: 2px;
  padding: 20px;
  text-align: center;
  transition: all 0.1s linear;
  position: relative;
  top: 0;
  &:hover {
    text-decoration: none;
    top: -2px;
    @include box-shadow;
  }
  &__title {
    font-size: 12px;
    color: $darkGrey;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  &__image {
    max-width: 80%;
    max-height: 100%;
    display: block;
    @include pos-center;
  }
  &__image-area {
    height: 100px;
    position: relative;
    margin-bottom: 10px;
  }
  &__noimage {
    @include pos-center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $white;
    svg {
      width: 66px;
      @include pos-center;
      path {
        fill: $midGrey;
      }
    }
  }
}

.bc-categoies-block {
  padding: 0 10px;
  margin-bottom: 100px;
}
