$dark: #30394a;
$blue: #008cd1;
$orange: #ef7f1a;
$light-blue: #a8cfe2;
$white: #ffffff;
$light-grey: #f0f0f0;
$green: #59a14f;

$text: #333333;
$black: #252525;

$transition: cubic-bezier(0.4, 0.0, 0.2, 1);