$blue: #008BD0;
$darkBlue: #2171A4;
$darkestBlue: #1d5f8a;
$midGrey: #d8d9dA;
$lightGrey: #f2f3f5;
$ultraLightGrey: #f8f8f8;
$darkGrey: #30394a;
$lightText: #71809C;
$white: #ffffff;

$dark: #30394a;
$orange: #ef7f1a;
$light-blue: #a8cfe2;
$light-grey: #f0f0f0;
$green: #59a14f;
$red: #e15659;

$transition: cubic-bezier(0.4, 0.0, 0.2, 1);

@mixin pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin circle($size) {
  width: $size;
  padding-bottom: $size;
  background: $white;
  border-radius: 50%;
}

@mixin font-futura {
  font-family: Futura, Ubuntu, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

@mixin box-shadow {
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
    0px 2px 2px 0px rgba(0,0,0,0.14),
    0px 1px 5px 0px rgba(0,0,0,0.12);
}