.bc-nav-block {
  padding: 28px 0;
  background: $white;
}
.bc-auth {
  svg {
    &:hover {
      path {
        fill: $blue;
      }
    }
  }
}
.bc-logo {
  svg {
    width: 136px;
    height: 40px;
    margin-top: -6px;
  }
}
.bc-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $lightText;
  flex-wrap: wrap;
  &__end {
    display: flex;
    flex-direction: row;
    .bc-city {
      margin-right: 60px;
      @media (max-width: 576px) {
        margin-right: 17px;
      }
    }
  }
}
.bc-search {
  @media (max-width: 992px) {
    order: 4;
    width: 100%;
    margin-top: 14px;
  }
  position: relative;
  margin-bottom: 0;
  width: 500px;
  &.products {
    width: 100%;
    input {
      border-color: $midGrey;
    }
    button {
      border: none;
    }
  }
  &__lupa {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 20px;
    height: 20px;
    fill: $lightText;
    z-index: 100;
  }
  input {
    padding-left: 36px;
    border: 1px solid $lightText;
    border-radius: 2px;
    box-shadow: none!important;
    &:focus {
      border: 1px solid $lightText;
    }
  }
  button {
    border-radius: 2px;
    background: $blue;
    color: $white;
    padding-left: 26px;
    padding-right: 26px;
    box-shadow: none!important;
    &:hover {
      background: $darkBlue;
    }
    &:active {
      background: #0276b1!important;
    }
    &:disabled {
      background: #0276b1!important;
      color: $white;
    }
  }
}
.bc-city {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__marker {
    margin-right: 10px;
    margin-top: -2px;
  }
}