.bg-grey {
  background: $ultraLightGrey;
}

.bc-block-title {
  font-size: 38px;
  text-align: center;
  @include font-futura;
  margin-bottom: 50px;
  &.small {
    font-size: 32px;
    line-height: 42px;
  }
  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 42px;
  }
}

.bc-controls {
  text-align: right;
}

.link-button {
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 2px solid $blue;
  color: $blue;
  &:hover {
    border: none;
    padding-bottom: 4px;
    text-decoration: none;
    color: $blue;
  }
}

.bc-btn {
  cursor: pointer;
  background: $white;
  font-weight: 500;
  color: $darkGrey;
  display: inline-block;
  font-size: 16px;
  border: 2px solid $blue;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px 20px;
  text-decoration: none;
  &:hover {
    background: $blue;
    color: $white;
    text-decoration: none;
    .bc-btn__amount-wrap {
      border-color: $white;
    }
  }
  &:active {
    background: $darkBlue;
  }
  &.full {
    width: 100%;
    text-align: center;
  }
  &.icon {
    svg {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      margin-top: -5px;
      path {
        fill: $darkGrey;
      }
    }
    &:hover {
      path {
        fill: $white;
      }
    }
  }
  &.active {
    background: $blue;
    color: $white;
    svg {
      path {
        fill: $white;
      }
    }
    &:hover {
      background: $darkBlue;
    }
  }
  &.disabled {
    opacity: 0.5;
  }
  &__amount-wrap {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid $darkGrey;
    margin-left: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: relative;
    margin-top: -2px;
  }
  &__amount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.bc-btn-desc {
  padding-top: 5px;
  font-size: 14px;
  color: $lightText;
  .selected {
    display: none;
  }
  &.active {
    .selected {
      display: block;
    }
    .clean {
      display: none;
    }
  }
}

.bc-filter-coop {
  margin-bottom: 30px;
}

// ========================================

.bc-coop-cards-block {
  padding: 0 5px;
  margin-bottom: 100px;
}

.bc-card {
  background: $white;
  display: block;
  color: $darkGrey;
  transition: all 0.1s linear;
  border: 1px solid $midGrey;
  &.dark {
    border: none;
    background: $lightGrey;
  }
  box-sizing: border-box;
  border-radius: 3px;
  padding: 15px 15px 20px 15px;
  margin-bottom: 40px;
  position: relative;
  &__image-wrap {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background: url('/images/no-img.png') center no-repeat;
    background-size: 50%;
  }
  &__image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 200px;
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 17px;
  }
  &__brand {
    color: $blue;
    font-weight: 500;
    margin-bottom: 17px;
  }
  &__like {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: $blue;
    svg {
      @include pos-center;
      margin-top: -2px;
    }
    &.in-prices {
      top: 20px;
      right: 20px;
    }
  }
  &:hover {
    text-decoration: none;
    top: -2px;
    color: $darkGrey;
    @include box-shadow;
  }
}

// ========================================

.bc-rent-block {
  padding: 0 5px;
  margin-bottom: 100px;
}

.bc-rent {
  &__image {
    display: block;
    max-width: 100%;
    @media (max-width: 576px) {
      margin-bottom: 20px;
    }
  }
  &__text {
    max-width: 400px;
    padding-top: 60px;
    margin-bottom: 40px;
    @media (max-width: 767px) {
      padding-top: 0;
    }
    @media (max-width: 576px) {
      margin-bottom: 20px;
    }
  }
}

// ========================================

.bc-partners-block {
  padding: 0 5px;
  margin-bottom: 100px;
}

.bc-partners {
  padding-top: 20px;
  @media (max-width: 576px) {
    padding-top: 0;
  }
  &__image {
    max-width: 100%;
    max-height: 60px;
    margin-bottom: 40px;
  }
}

// ========================================

.bc-footer {
  padding: 20px 0;
  background: $lightGrey;
  font-size: 14px;
  &__top {
    margin-bottom: 60px;
    @media (max-width: 576px) {
      padding-top: 30px;
    }
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 500;
  }
  &__link {
    color: $lightText;
    display: block;
    cursor: pointer;
    margin-bottom: 3px;
    &:hover {
      color: $darkGrey;
      text-decoration: none;
    }
  }
}

.bc-underfooter {
  padding: 20px 0;
  color: $lightText;
  font-size: 14px;
}

// ========================================

.form-group {
  label {
    font-weight: 500;
  }
  select {
    border: 1px solid $midGrey;
  }
  input {
    border: 1px solid $midGrey;
  }
}

.form-control {
  border-radius: 3px;
}

.bc-input-group {
  &__label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  &__fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    input {
      padding: .25rem .5rem;
      font-size: .875rem;
      height: 31px;
      width: 47%;
    }
  }
}

.bc-prod-search {
  padding: 30px 0;
}

.products-page-wrap {
  overflow: hidden;
}

// ========================================

.coop-modal {
  input {
    border-width: 2px;
    border-color: $midGrey;
    &.error {
      border-color: $red;
    }
  }
  textarea {
    border-width: 2px;
    border-color: $midGrey;
  }
  .coop-modal-result {
    display: none;
  }
  .coop-modal-error {
    display: none;
  }
  &.success {
    .coop-modal-base {
      display: none;
    }
    .coop-modal-result {
      display: block;
    }
  }
  &.failed {
    .coop-modal-base {
      display: none;
    }
    .coop-modal-error {
      display: block;
    }
  }
}