@import 'config';
@import 'spinner';
@import 'header';
@import 'categories';
@import 'slider';
@import 'cooperations';
@import 'filters';
@import 'prices';
@import 'main';

body {
  font-family: 'Ubuntu', sans-serif;
  color: $darkGrey;
}

.btn {
  outline: none!important;
  box-shadow: none!important;
}

.btn-success {
  background: $blue;
  border-color: $blue;
  &:hover {
    background: $darkBlue;
    border-color: $darkBlue;
  }
  &:focus {
    background: $darkestBlue;
    border-color: $darkestBlue;
  }
  &:active {
    background: $darkestBlue!important;
    border-color: $darkestBlue!important;
  }
}

.error {
  border-color: $red;
}

.btn {
  .spinner-grow {
    display: none;
  }
  &[disabled] {
    .spinner-grow {
      display: inline-block;
    }
  }
}

.block-img {
  width: 100%;
  margin: 20px 0;
}

.block-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.block-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.block-content {
  margin-bottom: 20px;
}

