//.header {
//  height: 40px;
//  background: #84bae2;
//  margin-bottom: 20px;
//}
body {
  font-family: 'Ubuntu', sans-serif;
}

.search-inp {
  width: 400px;
  font-size: 16px;
  padding: 5px;
  color: #333333;
  border-radius: 4px;
  box-shadow: none;
  background: none;
  border: 2px solid #a5a5a5;
  margin-right: 10px;
}

.product-card {
  border: 1px solid #dedede;
  padding: 20px;
  margin-bottom: 20px;
}

.main-logo {
  width: 40px;
  height: 40px;
  fill: #ffffff;
}

.site-header {
  background: #986546;
  a {
    color: #ffffff;
  }
}

.main-search-input {
  max-width: 700px;
  margin: 0 auto;
}

.search-wrap {
  background: url('/images/bobr.png') no-repeat;
}

.shops-section {
  background: #dedede;
}

.categories-section {
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/gplaypattern.png);
}

.shop-img {
  max-width: 100%;
  max-height: 60px;
}

.underfooter {
  background: #333333;
  color: #ffffff;
  padding: 10px 20px;
}